.bodyIndex{
    margin: 0;
    background-image: url("Fondo.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.nav{
    z-index: 3;/*para que quede por arriba de la frase*/
    background-color: white;
    opacity: 10px;
    height: 100px;
    width: 100%;
}
.titulo{
    font-size: 30px;
}
.frase{
    z-index: 1;
    opacity: 0.9;
    height:200px;
    background-color:white;
    margin-top: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%; 
}
.frase p{
    font-family: "Nimbus Sans TW01Con";
    font-size:24px;
    opacity: 1;
    margin-top: 65px;
    margin-left: 20%;
    margin-right: 20%; 
    float: left;
}
.frase2{
    float: left;
    height:125px;
    background-color:white;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 97%; 
}
.frase2 a{
    color:black;
    text-decoration: none;
    font-family: "Nimbus Sans TW01Con";
    opacity: 1;
    font-size:22px;
    margin-top: 55px;
    margin-right: 200px;
    float: right; 
}
.nav {
    top: 0;
    position: fixed;
    opacity: 0.9;
    height: 137px;
    background-color: white;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
.subItems{
    width: 100%;
    display: none;
    top: 0;
    background-color: white;
    height: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
 
.items{
    position: relative;
    margin: 5.5em auto auto !important;
    width: 8%;
    margin-right: 2%;
    float: left;
    font-size: 15px;
    font-family: "subpear";
    align-items: center;
 }
 .subItems li{  
    margin-top: 7%;  
    width: 100%;
    margin-right: 2%;
    float: left;
    font-size: 13px;
    font-family: "subpear";
    align-items: center;
 }
 .subItems li:first-child{
    margin-top: 25px;
 }
.items a, .subItems a{
    color:black;  
    text-decoration: none;
    

}
.items:hover  a{
    transition-property: color;
    transition-duration: 0.5s;
    color: rgb(172, 171, 171);
}
.items:hover  ul.subItems{
    display: block;
}
.items:hover  .subItems a{
    color: black;
}
.subItems li:hover{
    transition-property: background-color;
    transition-duration: 1s;
    background-color: rgb(236, 236, 236);


}
.maria a{
    text-decoration: none;
    color:black;
    float: left;
    margin: 1.4em 2.5em 2em 20% !important; 
    font-family: "Bdp";
    font-size: 42px;
    
}
#logoInsta{
    position: absolute;
    margin-left: -14%;
}
@font-face {
    font-family: "Nimbus Sans TW01Con"; /* para las frases */
    src: url("Nimbus Sans TW01Con.ttf") format("woff2"); /* chrome、firefox */
  }
@font-face {
    font-family: "Bdp"; /* para el maria sarandon */
    src: url("gligoth.TTF") format("woff2"); /* chrome、firefox */
  }
  @font-face {
    font-family: "subpear"; /* para los a de la nav */
    src: url("Drakolomb.otf") format("woff2"); /* chrome、firefox */
  }
  .contenedor{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    margin-top: 13%;
    text-align: center;
}
.imagen{
    float: left;
    width: auto;
    height: auto;
}
.imagen img{
    width: 300px;
    height: 350px;
    z-index: 15;
}
.pintura{
    display: inline-block;
    width: 300px;
}
.descripcion{
    font-size: 19px;
    display: none;
    font-family: "Nimbus Sans TW01Con";
    margin-top: 20px;
}
.titulo{
    font-family: "Nimbus Sans TW01Con";
    font-size: 22px;
}
#cuadro{
    text-align: center;
    background-color: white;
    width: 300px; 
    height: 380px; 
    border-radius: 5%;
}

.pintura:hover  #cuadro{
    transition-property: height;
    transition-duration: 1s;
    height: 450px;
}
.pintura:hover  .descripcion{
    display: block;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .column:first-child{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .column img:hover{ /*para que cuando pongas el cursor en la imagen*/
    -webkit-filter: brightness(40%);
}
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }