
/* *,
.body::before,
.body::after {
  box-sizing: content-box; 
} */
.bodyIndex{
  margin: 0;
  background-image: url("Fondo.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.frase{
  z-index: 1;
  opacity: 0.9;
  height:200px;
  background-color:white;
  margin-top: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%; 
}
.frase p{
  font-family: "Nimbus Sans TW01Con";
  font-size:24px;
  opacity: 1;
  margin-top: 65px;
  margin-left: 20%;
  margin-right: 20%; 
  float: left;
}
.frase2{
  float: left;
  height:125px;
  background-color:white;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 97%; 
}
.space{
  height: 300px;
  width: 4%
}
.frase2 a{
  color:black;
  text-decoration: none;
  font-family: "Nimbus Sans TW01Con";
  opacity: 1;
  font-size:22px;
  margin-top: 55px;
  margin-right: 200px;
  float: right; 
}
 .navBar{
  width: 100%;
  position:fixed; 
  top:0;
  z-index: 3;/*para que quede por arriba de la frase*/
  height:20%;
 }
 .navBar ul{
  width:80%;
  align-items: right;
}
 .contenedor{
    margin: 0 auto;
    text-align: center;
}
.imagen{
    float: left;
    width: auto;
    height: auto;
    z-index: 2;
  }
.imagen img{
  width: 110%; 
  height: 100%; 
  z-index: 15;
  Object-fit: cover;
}

.fila{
  width:80%;
  margin-right: 10%;
  margin-left: 10%;
}

.pintura{
    margin-right: 20px;
    display: block;
    float: left;
  }

.descripcion{
    font-size: 19px;
    display: none;
    font-family: "Nimbus Sans TW01Con";
    margin-top: 5px;
}
.titulo{
    font-family: "Nimbus Sans TW01Con";
    font-size: 22px;
}
.cuadro{
  text-align: center;
  background-color: white;
  width: 110%; 
  height: 100%; 
  border-radius: 5%;
}
.fila{
  margin-bottom: 5%;
}
.pintura:hover  .cuadro{
    transition-property: height;
    transition-duration: 1s;
    height: 125%;
}
.pintura:hover  .descripcion{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    display: block; 
}
.contenedorIndividual{
  height: 450px;
  width: 300px;
  margin-bottom: 10%;
}
.contenedor p{
  font-family: 'Nimbus Sans TW01Con'; 
  font-size: 40px;
  margin-top: 2%; 
  margin-bottom: 2%; 
  color: white
}

.fila{
  width: 1000px;
  margin: 0 auto;
}
.contenedorIndividual:first-child{
  margin-right: 50px;
}
.contenedorIndividual:last-child{
  margin-left: 50px;
}
@media(max-width:1000px){
  .contenedorIndividual{
    width: 200px;
    height: 303px;
  }
  .fila{
    width: 640px;
  }
  .contenedorIndividual:first-child{
    margin-right: 20px;
  }
  .contenedorIndividual:last-child{
    margin-left: 20px;
  }
}
@media(max-width:685px){
  .contenedorIndividual{
    width: 150px;
    height: 225px;
  }
  .fila{
    width: 470px;
  }
  .contenedorIndividual:first-child{
    margin-right: 10px;
  }
  .contenedorIndividual:last-child{
    margin-left: 10px;
  }
  .contenedor p{
    font-size: 25px;
  }
}

 

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
   
  .item{
    float: right;
    margin-right: 2%;
    font-family:"subpear" ;
  }
  .barraExpandida{
    height: auto;
  }
  @font-face {
    font-family: "Nimbus Sans TW01Con"; /* para las frases */
    src: url("Nimbus Sans TW01Con.ttf") format("woff2"); /* chrome、firefox */
  }
@font-face {
    font-family: "Bdp"; /* para el maria sarandon */
    src: url("gligoth.TTF") format("woff2"); /* chrome、firefox */
  }
  @font-face {
    font-family: "subpear"; /* para los a de la nav */
    src: url("Drakolomb.otf") format("woff2"); /* chrome、firefox */
  }
  @media(max-width:420px){
    .fila{
      width:160px ;
      margin: 0 auto;
    }
    .titulo{
      margin-left: 10px;
      float:left;
      display:inline-block;
      margin-right: 25px;
      margin-top: -1%;
    }
    .descripcion{
      float:left;
      display:inline-block;
      margin-top: 0%;
    }
    .contenedorIndividual{
      width: 150px;
      height: 225px;
      margin-bottom: 50px;
    }
    .pintura:hover  .cuadro{
      transition-property: height;
      transition-duration: 0s;
      height: 200px;    
  }
  .contendor p{
    font-size: 25px;
  }
  .pintura:hover  .descripcion{
    animation: fadeIn ease 0s;
      -webkit-animation: fadeIn ease 0s;
      -moz-animation: fadeIn ease 0s;
      -o-animation: fadeIn ease 0s;
      -ms-animation: fadeIn ease 0s;
      display: block;
  }
  .contenedorIndividual:first-child{
    margin-right: 0px;
  }
  .contenedorIndividual:last-child{
    margin-left: 0px;
  }
}
  .tituloNav{
    font-family: "bdp";
    font-size: 30px;
  }

  .pinturaCelular{
    margin: 0 auto;
    margin-bottom:15% ;
  }
.menuDesplegable{
  margin-right: 2%;
}
.borrar{
  z-index: 0;
}