/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(63, 63, 63, 0.678); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  /*transition: 0.5s; 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  display: grid;
  height: 100%;
  margin: 0 auto;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
}
.imagenModal{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width:auto; 
  height: 100%;
}
@media (orientation:landscape){
  .imagenModal {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media(max-width: 915px) and (orientation:portrait) {
  .imagenModal {
    width: auto;
    height: auto;
  }
}



/* *,
.body::before,
.body::after {
  box-sizing: content-box; 
} */
.bodyIndex{
  margin: 0;
  background-image: url("Fondo.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.frase{
  z-index: 1;
  opacity: 0.9;
  height:200px;
  background-color:white;
  margin-top: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%; 
}
.frase p{
  font-family: "Nimbus Sans TW01Con";
  font-size:24px;
  opacity: 1;
  margin-top: 65px;
  margin-left: 20%;
  margin-right: 20%; 
  float: left;
}
.frase2{
  float: left;
  height:125px;
  background-color:white;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 97%; 
}
.space{
  height: 300px;
  width: 4%
}
.frase2 a{
  color:black;
  text-decoration: none;
  font-family: "Nimbus Sans TW01Con";
  opacity: 1;
  font-size:22px;
  margin-top: 55px;
  margin-right: 200px;
  float: right; 
}
.navBar{
  width: 100%;
  position:fixed; 
  top:0;
  z-index: 3;/*para que quede por arriba de la frase*/
  height:20%;
 }
.navBar ul{
  width:80%;
  align-items: right;
}
 .contenedor{
  margin: 0 auto;
  text-align: center;
}
.imagen{
  float: left;
  width: auto;
  height: auto;
  z-index: 2;
  }
.imagen img{
  width: 110%; 
  height: 100%; 
  z-index: 15;
  Object-fit: cover;
}

.fila{
  width:80%;
  margin-right: 10%;
  margin-left: 10%;
}

.pintura{
  margin-right: 20px;
  display: block;
  float: left;
  }

.descripcion{
  font-size: 19px;
  font-family: "Nimbus Sans TW01Con";
  color: white;
}
.titulo{
  font-family: "Nimbus Sans TW01Con";
  font-size: 22px;
  color: white;
  margin-bottom: 0px;
}
.cuadro{
  text-align: center;
  background-color: white;
  width: 110%; 
  height: 100%; 
  border-radius: 5%;
}
.fila{
  margin-bottom: 10%;
}

.contenedorIndividual{
  height: 450px;
  width: 300px;
  margin-bottom: 80px;
}
.contenedor p{
  font-family: 'Nimbus Sans TW01Con'; 
  font-size: 40px;
  margin-top: 2%; 
  margin-bottom: 2%; 
  color: white
}
.fila{
  width: 1000px;
  margin: 0 auto;
}
.contenedorIndividual:nth-child(1){
  margin-right: 50px;
}
.contenedorIndividual:nth-child(3){
  margin-left: 50px;
}
@media(max-width:1000px){
  .contenedorIndividual{
    width: 200px;
    height: 303px;
  }
  .fila{
    width: 640px;
  }
  .contenedorIndividual:nth-child(1){
    margin-right: 20px;
  }
  .contenedorIndividual:nth-child(3){
    margin-left: 20px;
  }
}
@media(max-width:685px){
  .contenedorIndividual{
    width: 150px;
    height: 225px;
    margin-bottom: 100px;
  }
  .fila{
    width: 470px;
  }
  .contenedorIndividual:nth-child(1){
    margin-right: 10px;
  }
  .contenedorIndividual:nth-child(3){
    margin-left: 10px;
  }
  .contenedor p{
    font-size: 25px;
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
  
.item{
  float: right;
  margin-right: 2%;
  font-family:"subpear" ;
}
.barraExpandida{
  height: auto;
}
@font-face {
  font-family: "Nimbus Sans TW01Con"; /* para las frases */
  src: url("Nimbus Sans TW01Con.ttf") format("woff2"); /* chrome、firefox */
}
@font-face {
    font-family: "Bdp"; /* para el maria sarandon */
    src: url("gligoth.TTF") format("woff2"); /* chrome、firefox */
}
@font-face {
  font-family: "subpear"; /* para los a de la nav */
  src: url("Drakolomb.otf") format("woff2"); /* chrome、firefox */
}
@media(max-width:420px){
  .fila{
    width:160px;
    margin: 0 auto;
  }
  .titulo{
    font-size: 20px;
    margin-top: -1%;
  }
  .descripcion{
    font-size: 17px;
  }
  .contenedorIndividual{
    width: 150px;
    height: 225px;
    margin-bottom: 120px;
  }
  .contendor p{
    font-size: 25px;
  }
  .contenedorIndividual:nth-child(1){
    margin-right: 0px;
  }
  .contenedorIndividual:nth-child(3){
    margin-left: 0px;
  }
}
.tituloNav{
  font-family: "bdp";
  font-size: 30px;
}

.pinturaCelular{
  margin: 0 auto;
  margin-bottom:15% ;
}
.menuDesplegable{
margin-right: 2%;
}
img:hover{ /*para que cuando pongas el cursor en la imagen*/
  -webkit-filter: brightness(40%);
  z-index: 0;
}
.imagenModal:hover{
  -webkit-filter: brightness(100%);
}
h3{
  margin-top: 40px;
}
.workInprogress{
  z-index: 1;
  height:100%;
  background-color:#BDBFC1
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%; 
  text-align: center;
}

.workInProgress p{
  margin-right: 5px;
  margin-left: 5px;
  font-family:"Nimbus Sans TW01Con"; 
  font-size: 20px;
  float: left;
  color: white;
}
/*estilo del slider*/
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 70px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  height:300px;
}

.slick-slide img {
  height:300px;
}
@media (max-width: 662px){
   .slider {
    width: 80%;
    margin: 70px auto;
}
  .slick-slide {
  height:200px;
}

.slick-slide img {
  height:200px;
}
.workInProgress p {
  font-size: 18px;
}
}
@media (max-width: 490px){
  .slider {
    width: 80%;
    margin: 70px auto;
}
  .slick-slide {
  height:200px;
}

.slick-slide img {
  height:200px;
}
.workInProgress p {
  font-size: 16px;
}
}